/* Interface Colors */
.purple {
  color: #9c009c;
}
.green {
  color: #009300;
}
.blue {
  color: #00007f;
}

@font-face {
  font-family: 'Fixedsys';
  font-style: normal;
  font-weight: normal;
  src: local('Fixedsys'), url('../FixedDisplay.ttf') format('truetype');
}

body, html {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-family: 'Fixedsys';
  background-color: #d4d0c8;
}

#chat-window {
  width:100%;
  height:100%;
}
#chat-window td {
  margin:0;
  padding:0;
  border: 1px solid #d4d0c8;
  vertical-align:top;
  background-color: white;
}

#chat {
  margin:0;
  padding:0;
  overflow:auto;
}
#chat p {
  margin-top:3px;
  margin-bottom:3px;
}
#chat-window #topic {
  background-color: #a5c9ef;
  background-image: url('../images/topic-bg.png');
  background-repeat: repeat-y;
  padding-left:4px;
  padding-top:4px;
  color:white;
  font-size:14px;
  height:17px;
}
#type-bar {
  height:20px;
}
#text {
  margin:0px;
  display:block; 
  width:100%;
  padding:0;
  border-width:0;
  height:20px;
  font-family: 'Fixedsys';
  font-size:15px;
}
.full {
  height:100%;
  width:100%;
}
#users {
  list-style:none;
  margin:0;
  padding:0;
}

#helpbox {
  width:460px;
  height:360px;
  position:absolute;
  border: 2px solid #0B155C;
  background-color: #d4d0c8;
  display:none;
  padding:20px;
}